*.zip
banned-ips.json
banned-players.json
cache/*
commands.yml
eula.txt
help.yml
libraries/*
logs/*
ops.json
permissions.yml
plugins/BetterRTP/lang/*
plugins/CMILib/Translations/*
plugins/DynamicShop/Log/*
plugins/Essentials/userdata/*
plugins/GriefPreventionData/PlayerData/*
plugins/LuckPerms/translations/*
plugins/Quests/lang/*
plugins/WorldEdit/.archive-unpack/*
world_the_end/*
world_nether/*
world/stats/*
world/playerdata/*
world/advancements/*
versions/1.18.1/paper-1.18.1.jar
version_history.json
usercache.json
wepif.yml
whitelist.json
plugins/Quests/data/*
plugins/CoreProtect/database.db
